<li>
{% if site.feedback_text %}
  {% assign feedback_text = site.feedback_text %}
{% else %}
  {% assign feedback_text = "Feedback" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title="Home Office" href="{{site.feedback_link}}">{{feedback_text}}</a>
{% else %}
  <a class="email" title="Home Office" href="#" onclick="javascript:window.location='mailto:{{konstantin@ru.ibm.com}}?subject={{I'M IN HOME OFFICE TOMORROW} feedback&body=Hello, Konstantin,

I am taking HomeOffice tomorrow. 
I confirm that there are no customer f2f meetings planned and no internal meetings planned obligatory for me.

I will be engaged into conference calls, technical assets preparation and/or self-education during the day.' + window.location.href;"><i class="fa fa-envelope-o"></i> {{feedback_text}}</a>
{% endif %}
</li>
